<title>{{headers.title|safe}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="{{headers.description}}" >
<meta name="keywords" content="{{headers.keywords}}" >
<link rel="icon" type="image/x-icon" href="{{cdnPath}}/img/favicon.ogc.small.ico">